.cardContainer {
  text-align: center;
  width: 48%;
  min-width: 300px;
  margin: 12px 8px 12px 0;
  position: relative;
}

.urlLink {
  font-weight: bold;
  font-size: 1.4rem;
}

.urlLink:hover {
  color: rgba(0, 0, 0, 0.45);
}

.imageContainer {
  border-radius: 10px;
}

.imageContainerShadow {
  margin-top: 8px;
  filter: drop-shadow(4px 8px 8px rgba(0, 0, 0, 0.8));
}

.imageContainer:hover {
  filter: blur(2px);
  cursor: pointer;
}

.projectInfoBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.projectInfoBtn:hover {
}

@media only screen and (max-width: 950px) {
  .cardContainer {
    text-align: center;
    width: 80%;
    position: relative;
  }
}
