@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200&family=Inspiration&family=Kanit&display=swap');

:root {
  --main-bg-color: #fcda69;
  --secondary: #0cca4a;
  --tertiary: #e55812;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Anek Latin', sans-serif;
  scroll-behavior: smooth;
  min-width: 360px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 21px;
}

* {
  box-sizing: border-box;
}

img {
  transition: 1s;
}
