.container {
  padding-left: 140px;
  padding-right: 140px;
}

.navbar {
  height: 64px;
  padding: 0 140px;
  width: 100%;
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

.links {
  list-style-type: none;
  display: flex;
}

.links li {
  margin: 0 12px;
  font-family: 'Anek Latin', sans-serif;
  font-size: 23px;
  font-weight: 400;
  cursor: pointer;
}

.links li:hover {
  color: rgba(0, 0, 0, 0.55);
}

.jpname {
  font-family: 'Inspiration', cursive;
  font-size: 52px;
  transform: translateY(-8px);
}

.letsChatBtnContainer button {
  height: 35px;
  font-size: 23px;
  padding: 2px 10px;
  background-color: var(--tertiary);
  border: solid 1px black;
  border-radius: 10px;
  cursor: pointer;
}

.letsChatBtnContainer button:hover {
  filter: brightness(85%);
}

.heroContainer {
  height: calc(100vh - 64px);
  display: flex;
}

.textContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 111px;
  line-height: 22px;
  animation: fadeInLeft 2s linear;
  opacity: 1;
}

.techText {
  animation: fadeIn 1s linear;
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-111px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(111px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.textContainer h2 {
  font-family: 'Kanit', sans-serif;
  font-size: 42px;
}

.iconsContainer > * {
  margin: 0 8px;
}

.twitterIcon:hover {
  color: #1da1f2;
}

.linkedinIcon:hover {
  color: #0077b5;
}

.githubIcon:hover {
  color: #171515;
}

.imageContainer {
  position: relative;
  width: 50%;
  animation: fadeInRight 2s linear;
  opacity: 1;
}

.aboutMeSection {
  min-height: 100vh;
  background-color: #fcda69;
  padding-top: 8%;
  padding-bottom: 8%;
}

.aboutmeTextContainer {
  max-width: 744px;
}

.container h3 {
  font-family: 'Kanit', sans-serif;
  font-size: 42px;
  margin: 0;
}

.skillsSection {
  height: 100vh;
  background-color: white;
}

.skillsContainer {
  max-width: 744px;
  padding-top: 8%;
}

.modalStyles {
  border: solid black 2px;
  width: 80%;
  margin: 0 auto;
  margin-top: calc(20vh / 2);
  height: 80%;
  animation: fadeIn 1s linear;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.portfolioTextContainer {
  max-width: 744px;
  padding-top: 8%;
}

.technologiesImagesContainer {
  margin-top: 60px;
}

.portfolioContainer {
  background-color: #fcda69;
  height: auto;
  min-height: 100vh;
  padding-bottom: 30px;
}

.portfolioElementsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footerContainer {
  position: relative;
  padding: 11px 0 22px;
  text-align: center;
}

.footerTextContainer {
  max-width: 666px;
  margin: 0 auto;
}

@media only screen and (max-width: 1060px) {
  .navbar {
    padding: 0 60px;
  }
  .container {
    padding: 0 60px;
  }
  .textContainer h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 33px;
  }
}

@media only screen and (max-width: 960px) {
  .portfolioElementsContainer {
    justify-content: center;
  }
}

@media only screen and (max-width: 780px) {
  .navbar {
    width: 100%;
    justify-content: space-between;
    padding: 0 30px;
  }
  .links {
    display: none;
  }
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .textContainer {
    padding-bottom: 0;
  }
  .textContainer h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 33px;
  }
  .heroContainer {
    height: calc(100vh - 64px);
    flex-direction: column;
    align-items: center;
  }
  .textContainer {
    width: 100%;
    height: 50%;
  }
  .imageContainer {
    width: 100%;
    height: 50%;
  }
  .modalStyles {
    border: solid black 2px;
    width: 90%;
    margin: 0 auto;
    margin-top: calc(20vh / 2);
    height: 80%;
  }
}

@media only screen and (max-width: 444px) {
  .container {
    padding-left: 8px;
    padding-right: 8px;
  }
  .textContainer h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 33px;
  }
  .heroContainer {
    height: calc(100vh - 64px);
    flex-direction: column;
    align-items: center;
  }
  .textContainer {
    width: 100%;
    height: 50%;
  }
  .imageContainer {
    width: 100%;
    height: 50%;
  }
  .aboutMeSection {
    padding-bottom: 8px;
  }
  .skillsSection {
    height: auto;
    padding-bottom: 18px;
  }

  .footerContainer {
    padding: 8px;
    width: 100%;
  }
}
